@model WestcoastEdu.Web.ViewModels.CourseCreateViewModel

@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}

<div class="container">

    <h1 class="title">Westcoast Education Admin</h1>
    <h2 class="subtitle">Skapa ny Kurs: @Model.Name</h2>

    <div class="container">
        <form asp-action="new" method="post">
            <div class="field">
                <div class="control">
                    <label class="label">@Html.DisplayNameFor(m => m.Name)</label>
                    <input class="input" asp-for="Name">
                    <span asp-validation-for="Name" class="error"></span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">@Html.DisplayNameFor(m => m.Title)</label>
                    <input class="input" asp-for="Title">
                    <span asp-validation-for="Title" class="error"></span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" for="">@Html.DisplayNameFor(m => m.Code)</label>
                    <input class="input" asp-for="Code">
                    <span asp-validation-for="Code" class="error"></span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" for="">@Html.DisplayNameFor(m => m.StartDate)</label>
                    <input class="input" asp-for="StartDate">
                    <span asp-validation-for="StartDate" class="error"></span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label" for="">@Html.DisplayNameFor(m => m.LengthInWeeks)</label>
                    <input class="input" asp-for="LengthInWeeks">
                    <span asp-validation-for="LengthInWeeks" class="error"></span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-success" value="Spara" />
                </div>
            </div>
        </form>
    </div>


    
</div>


    